.board-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.freeze {
  pointer-events: none;
}
.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  border: 1px solid black;
  padding: 1rem;
  height: 450px;
  width: 450px;
  @media (max-width: 1024px) {
    height: 75vw;
    width: 75vw;
  }
}
