.cell-container {
  border: 1px solid black;
  cursor: pointer;
}
.cell {
  height: 100%;
}
.cell-not-flipped {
  background-color: gray;
}
.cell-reveal-flipped {
  cursor: none;
  pointer-events: none;
}
.red {
  background-color: #ff0000;
}
.green {
  background-color: #008000;
}
.blue {
  background-color: #0000ff;
}
.circle {
  border-radius: 100%;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 47px solid transparent;
  border-right: 47px solid transparent;
  border-bottom: 98px solid;
  background-color: white;
  &.red {
    border-bottom-color: #ff0000;
  }
  &.green {
    border-bottom-color: #008000;
  }
  &.blue {
    border-bottom-color: #0000ff;
  }
  @media (max-width: 1024px) {
    border-left: 7.5vw solid transparent;
    border-right: 7.5vw solid transparent;
    border-bottom: 15vw solid;
  }
}
